<nav class="navbar navbar-expand-lg navbar-light p-0 nav-edit">
    <div class="container">
        <a class="logo-edit" href="#">Ekart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mx-auto">
                <main-nav></main-nav>
            </div>
            <div class="top-menu-wrap">
                <top-menu></top-menu>
            </div>
        </div>
    </div>
</nav>