<div class="wrap mb-3 ms-2">
  <h5>filter:</h5>
  <div class="form-check-container">
    <div class="form-check">
      <input class="form-check-input" 
      type="radio"
       name="allProduct"
        id="allProducts" 
        value="all" 
        (change)="onSelectFilter()"
        [(ngModel)]="selectedFilterButton">
      <label class="form-check-label" for="allProducts">
        All{{'('+ all +')'}}
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" 
      type="radio"
       name="inStock" 
       id="inStock" 
       value="true"
       (change)="onSelectFilter()"
        [(ngModel)]="selectedFilterButton">
      <label class="form-check-label" for="inStock">
        In Stock{{'('+ inStock +')'}}
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input"
       type="radio"
        name="outOfStock"
         id="outOfStock" 
         value="false" 
         (change)="onSelectFilter()"
         [(ngModel)]="selectedFilterButton">
      <label class="form-check-label" for="outOfStock">
        Out Of Stock{{'('+ outOfStock +')'}}
      </label>
    </div>
  </div>
</div>
