<div class="mainWrap">
  <div class="row">
    <div class="col-md-4 ms-auto innerWrap">
      <div class="row gap-3">
        <div class="col-md-12">
          <i class="fa fa-times cancleView" aria-hidden="true"></i>
        </div>
        <div class="col-md-12">
          <div class="imgWrap">
            <img [src]="product?.imageUrl" alt="img">
          </div>
        </div>
        <div class="col-md-12">
          <h3>{{product?.name}}</h3>
        </div>
        <div class="col-md-12">
          <span class="spec">{{product?.category}}</span>
          <span class="spec">{{product?.brand}}</span>
          <span class="spec">{{product?.gender}}</span>
        </div>
        <div class="col-md-12">
          <div class="priceWrap">
            Price Each Pair : <span class="priceBox" style="background-color: green;" *ngIf="!product?.discount_price">
              {{product?.price}}</span>
            <span class="priceBox" *ngIf="product?.discount_price"> <del>{{product?.price}}</del></span>
            <span class="priceBox" *ngIf="product?.discount_price"> <ins>{{product?.discount_price}}</ins></span>
            (inclusive of all taxes)
          </div>
        </div>
        <div class="col-md-12">
          <h4>Avilable Size:</h4>
          <span class="spec" *ngFor="let size of product?.size">{{size}}</span>
        </div>
        <div class="col-md-12">
          <h4>Avilable Colors:</h4>
          <span class="colorDot" [ngStyle]="{'background-color': color}" *ngFor="let color of product?.colors"></span>
        </div>
        <div class="col-md-12">
          <h4>Product Description</h4>
          <p>{{product?.description}} </p>
        </div>
        <div class="col-md-12">
          <button class="spec">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>